<div class="container">
  <h1 class="lead">Create new patient</h1>
  <%= render "form", patient: @patient %>
  <br>
  <hr>
  <div class="mt-3">
    <%= link_to 'Back', 'javascript:history.back()', class: "btn btn-primary" %>
  </div>
</div>
